In [10]:
import pandas as pd

df = pd.read_csv(r"C:\Users\zanyi\OneDrive\Git hub\Junior-Data-Scientist\DataSets-study_performance.csv")

df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [11]:
maleCount = df['gender'].value_counts()
print(maleCount.male)
print(maleCount.female)

482
518

In [12]:
eduCount = df['parental_level_of_education'].value_counts()
eduCount

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental_level_of_education, dtype: int64

In [13]:
ndf = df.drop("male")
ndf

KeyError: "['male'] not found in axis"